@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    height:100vh;
    background-color: #eeeba4;
}
#container{
    display:flex;
    align-items:center;
    gap:3.5rem;
}
#img img{
    width: 600px;
}
#calculator{
    display:flex;
    flex-direction:column;
    gap: 2 rem;
    padding:2rem;
    color:#8c8306;
    background-color: #ececc3;
    border-radius: 8px;
}
#form{
    display:flex;
    flex-direction:column;
    gap: 2rem;
}
#title{
    font-size: 3.40rem;
    font-weight: relative;
}
title::after{
    position: absolute;
    content: '';
    width: 18rem;
    height: 3px;
    background-color: #8c8306;
    bottom:0;
    left:0;
    border-radius: 3px;

}
.input-box label{
    font-size: 1.25rem;
     color:#8c8306;
     font-weight: 500;
}

     .input-field{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width: 100%;
    padding: 0.75rem;
    font-size: 1.25rem;
    border: 4px solid #6f6803;
    border-radius: 4px;
    margin-top: 3px;
}
.input-field spam,
.input-field i{ /* simbolo da unidade de medida*/
    color:#8c8306;
    font-size:1.3rem;
    padding:0 0.10rem;
}
.input-field input{/*  munmeros inseridos*/
    background-color: #dcd979;
    border: none;
    width: 60%;
    font-size: 2.30rem;
    color:#29270b;
    padding:0 0.10rem;

}
.input-field input::webkit-outer-spin-button,
.input-field input::webkit-inner-spin-button{
    appearance: none;
   
}
.input-field input:focus{
    outline: none;
}
#calculate{ /*botao de calcular*/
    border:none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #dcd979;
    color:#8a7b06;
    padding: 0.5rem 0;
    cursor:pointer;
}
#result{
    display:flex;
    gap:2rem;
    align-items:center;
    border-top: 3px solid #5d5705;
    padding:0.75rem 0;

}
#bmi{
    display:flex;
    align-items:center;
    flex-direction:column;
    font-size: 2.65rem;

}
#bmi span{
    font-size: 1.025rem;
    font-weight: bold;
    color:#8c8306
}
#description{
    width:10.5rem;
}
#more_info{
   text-align: center;
   border-top: 2px solid #8c8306;
   padding-top: 1.5rem;
   font-size: 1.25rem;
  
}
#more_info a{
    text-decoration: none;
    display:flex;
   color:#3c4707
}
#more_info a:hover{
    color:#000000
}
.esconder{
    display:none;
}